{% extends "layout.html" %}
{% block content %}

  {% for book in books %}
  <div class="row">
    <div class="col-lg-5">
      <img class="img-responsive" id= "bookPic" src= "{{ book.picture }}" >
    </div>
    <div class="col-lg-6">
        <h1>{{book.title}}</h1>
        <ul>
          <li>{{ book.type }}</li>
          <li>{{ book.genre }}</li>
          <li>"Published in " {{ book.year }}</li>
          <li>"Synopis: " {{ book.synopsis }}</li>
          <li>"#"{{ book.tags }}</li>
        </ul>
    </div> 
  </div>
    {% endfor %}

  {% endblock %}