{% extends "layout.html" %}

{% block content %}
	<div class="section lead">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">		
					<div id="scroller">
					    <div class="nav">
					        <a class="prev">&laquo;</a>
					        <a class="next">&raquo;</a>
					    </div>
					    <div>
					    	<!-- will need to make a swig temp for now to get images -->
						   {% for book in books %}
						  	<a class="item" href="#"><img src= "{{ book.picture }}" /></a>
						   {% endfor %}
						   
						</div>					
					</div>
				</div>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- section -->

{% endblock %}